@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: 'Open Sans', 'sans-serif';
    min-height: 100dvh;
    min-width: 100dvw;
  }
  * {
    /* outline: 1px solid red; */
  }
}

@layer utilities {
  .custom-scrollbar {
    scrollbar-width: 6px;
    scrollbar-color: #66666a transparent;
  }
  .scrollbar-gutter-stable {
    scrollbar-gutter: stable;
  }
  .custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #303037;
    border-radius: 6px;
    border: none;
  }

  .custom-scrollbar::-webkit-scrollbar-corner {
    background: transparent;
  }

  .dark .custom-scrollbar {
    scrollbar-color: #27272a;
  }

  .dark .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #303037;
  }

  .scrollbar-thin {
    scrollbar-width: thin;
  }

  .scrollbar-thin::-webkit-scrollbar {
    height: 4px;
    width: 4px;
  }

  .line-clamp-2 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    line-clamp: 2;
    overflow: hidden;
  }
  .scrollbar-overlay {
    overflow: overlay;
  }

  .title-text {
    @apply font-heading text-xl font-medium;
  }
  .body-text {
    @apply font-body text-lg;
  }
  .text-small {
    @apply font-body text-sm font-light;
  }

  .status-started {
    @apply rounded-full border border-blue-200 bg-blue-200/90 p-2 py-1 text-xs font-medium tracking-tight text-blue-600 md:text-sm;
  }

  .status-completed {
    @apply rounded-full border border-green-200 bg-green-100/80 px-3 py-1 text-sm font-medium tracking-tight text-green-800;
  }

  .status-inprogress {
    @apply rounded-full border border-yellow-200 bg-yellow-100/80 px-3 py-1 text-sm font-medium tracking-tight text-yellow-800;
  }

  .difficulty-beginner {
    @apply rounded-full border border-green-200 bg-green-300 px-3 py-1 text-xs font-medium tracking-tight text-green-800 md:text-sm;
  }

  .difficulty-intermediate {
    @apply rounded-full border border-yellow-200 bg-yellow-100/80 px-3 py-1 text-xs font-medium tracking-tight text-yellow-800 md:text-sm;
  }

  .difficulty-master {
    @apply rounded-full border border-red-200 bg-red-100/80 px-3 py-1 text-xs font-medium tracking-tight text-red-800 md:text-sm;
  }

  .difficulty-expert {
    @apply rounded-full border border-blue-300 bg-blue-200 px-3 py-1 text-xs font-medium tracking-tight text-blue-800 md:text-sm;
  }

  .text-domain {
    @apply rounded-full bg-purple-200/80 px-3 py-1 text-xs font-medium tracking-tight text-purple-900 md:text-sm;
  }
}
